spring:
  profile:
    active: test
  datasource:
    url:jdbc:h2:mem: cr_test_01
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: false
